:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.jpg");
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 75vh;
  margin: 16px;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.options button {
  margin: 0 10px;
}

.welcome {
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 3.5em;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
  background-color: lightskyblue;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 125px auto;
  max-width: 600px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.get_users,
.get_entries {
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h3 {
  border-bottom: 1px solid rgb(184, 15, 117);
  margin-top: 50px;
  text-align: center;
  font-size: 1.8em;
}

.entry,
.diary,
.users {
  text-align: center;
}

button.del,
button.check,
button.update {
  padding: 0.5rem 1rem;
  margin: 10px;
}

button.update {
  background-color: #f2e49448;
}

button.del {
  background-color: #f2a29448;
}

/* - - - - - - */

/* Navigaatiolistan tyylittely */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkcyan;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

li a:hover {
  color: white;
  background-color: rgb(3, 89, 181);
  transform: scale(1);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

li a:hover:not(.active) {
  background-color: rgb(3, 89, 181);
}

.active {
  background-color: black;
}

/* - - - - - */

/* Taulukon tyylittely */
/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: aliceblue;
}

.styled-table thead tr {
  background-color: lightskyblue;
  color: black;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid lightskyblue;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: lightskyblue;
}

.styled-table tbody tr:hover {
  background-color: #68535358;
  cursor: pointer;
}

/* - - -  */

.user-table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: aliceblue;
}

.user-table thead tr {
  background-color: lightskyblue;
  color: black;
  text-align: left;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
}

.user-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.user-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.user-table tbody tr:last-of-type {
  border-bottom: 2px solid lightskyblue;
}
.user-table tbody tr.active-row {
  font-weight: bold;
  color: lightskyblue;
}

.user-table tbody tr:hover {
  background-color: #68535358;
  cursor: pointer;
}
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  gap: 30px;
}

/* - - - - - */

/* Formin tyylittely */
form {
  background-color: lightskyblue;
  color: black;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  max-width: 600px;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border-radius: 10px;
}

/* - - - - - */

/* Input kenttien tyylittely */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* - - - - - - */

footer {
  background-color: darkcyan;
  text-align: center;
  color: white;
  padding: 25px 20px;
  margin-top: 125px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* - - - - - */

/* Modal/ popup */

.update {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #d3f5fb;
  margin: 15% auto;
  padding: 20px 20px 60px 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
}
.userInfo {
  margin-left: 20px;
  max-width: 600px;
}

/* - - - - - */

@media screen and (max-width: 800px) {
  .forms {
    flex-direction: column;
  }
}
